@model List<DAL.StudentView.SubmitAssessmentView>
@{
    ViewBag.Title = "GetSubmitDetailsByStudentAndEvent";
    Layout = "~/Areas/Student/Views/Shared/_BlankStudentLayout.cshtml";
}
@if (Model == null)
{
    <h3>Không có deadline</h3>
}
else
{
<h1>@Model[0].courseName</h1>
<h5>link<</h5>
<h2>@Model[0].topicTitle</h2>
<h3>@Model[0].eventTitle</h3>
<a>@Model[0].eventDescription</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Trạng thái bài nộp</th>
            <th scope="col">Hạn cuối</th>
            <th scope="col">Đã nộp bài vào</th>
            <th scope="col">lời phê GV</th>
            <th scope="col">Điểm số</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model[0].submitID == null)
            {
                <td>Chưa nộp</td>
            }
            else
            {
                <td>Đã nộp</td>
            }
            <td>@Model[0].eventDeadline</td>
            @if (Model[0].submitID == null)
            {
                <td></td>
            }
            else
            {
                <td>@Model[0].submitTime</td>
            }
            @if (Model[0].assComment == null)
            {
                <td></td>
            }
            else
            {
                <td>@Model[0].assComment</td>
            }
            @if (Model[0].assScore == 0)
            {
                <td></td>
            }
            else
            {
                <td>@Model[0].assScore</td>
            }
        </tr>
    </tbody>
</table>
<div class="container">
    <div class="row">
        @if (Model[0].submitID == null)
        {
            <div class="col-12 col-sm-6 col-md-6">
                <form id="formSubmit">
                    <label for="file" class="pt-2 m-0" style="font-size:1rem">Bài nộp</label>
                    <input type="file" class="form-control" name="file" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                    text/plain, application/pdf, image/*" required />
                    <button class="btn btn-primary btn-lg" type="submit" id="submitFile">Nộp bài</button>
                </form>
            </div>
        }
        else
        {
            <div class="col-12 col-sm-6 col-md-6">
                <form>
                    <button class="btn btn-primary btn-lg" type="submit" >Sửa bài</button>
                </form>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <form>
                    <button class="btn btn-primary btn-lg" type="submit" >Hủy bài nộp</button>
                </form>
            </div>
        }

    </div>
</div>
}

@section getSubmitStudent{

    <script type="text/javascript">
        $(document).ready(
        )

        function func() {
            $('#submitFile').on('click', function () {
                let formdata = new FormData($('#formSubmit').get(0))

                formdata.append('DocID', docID);
                $.ajax({
                    type: 'POST',
                    url: '/Student/Subject/UpdateDoc',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    async: false,
                    success: function (msg) {
                        if (msg.status == true) {
                            flag = true;
                            linkFile = msg.file.link;
                            filename = msg.file.filename;
                            // alert('Sửa thành công !')
                        } else {
                            alert('Đã xảy ra lỗi !')
                        }
                    }
                });
            })
        }
    </script>
   
}