@model List<DAL.StudentView.SubmitAssessmentView>
@{
    ViewBag.Title = "GetSubmitDetailsByStudentAndEvent";
    Layout = "~/Areas/Student/Views/Shared/_BlankStudentLayout.cshtml";
}
@if (Model.Count == 0)
{
    <h3>Không có deadline</h3>
}
else
{
<h1>@Model[0].courseName</h1>
<h5>link<</h5>
<h2>@Model[0].topicTitle</h2>
<h3>@Model[0].eventTitle</h3>
<a>@Model[0].eventDescription</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Trạng thái bài nộp</th>
            <th scope="col">Hạn cuối</th>
            <th scope="col">Đã nộp bài vào</th>
            <th scope="col">lời phê GV</th>
            <th scope="col">Điểm số</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model[0].submitID == null)
            {
                <td>Chưa nộp</td>
            }
            else
            {
                <td>Đã nộp</td>
            }
            <td>@Model[0].eventDeadline</td>
            @if (Model[0].submitID == null)
            {
                <td></td>
            }
            else
            {
                <td>@Model[0].submitTime</td>
            }
            @if (Model[0].assComment == null)
            {
                <td></td>
            }
            else
            {
                <td>@Model[0].assComment</td>
            }
            @if (Model[0].assScore == 0)
            {
                <td></td>
            }
            else
            {
                <td>@Model[0].assScore</td>
            }
        </tr>
    </tbody>
</table>
<div class="container">
    <div class="row">
        @if (Model[0].eventDeadline > DateTime.Now || Model[0].assScore == null || Model[0].assComment == null)
        {

        }
        else
        {
            if (Model[0].submitID == null)
            {
                <div class="col-12 col-sm-6 col-md-6">
                    <form>
                        <button class="btn btn-primary btn-lg" type="submit" formaction="1klasse.html">Nộp bài</button>
                    </form>
                </div>
            }
            else
            {
                <div class="col-12 col-sm-6 col-md-6">
                    <form>
                        <button class="btn btn-primary btn-lg" type="submit" formaction="1klasse.html">Sửa bài</button>
                    </form>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <form>
                        <button class="btn btn-primary btn-lg" type="submit" formaction="1klasse.html">Hủy bài nộp</button>
                    </form>
                </div>
            }
        }
    </div>
</div>
}

