@model List<DAL.StudentView.CourseDetailsView>
@{
    ViewBag.Title = "GetTopicStudent";
    Layout = "~/Areas/Student/Views/Shared/_BlankStudentLayout.cshtml";
}

@if (Model.Count == 0)
{
    <h3 style="color:#aaa">Không có topic để hiển thị !</h3>
}
else
{
    <li>
        <a href="~/Student/Home/Index">Trang chủ</a> / <a href="~/Student/Subject/GetTopicStudent?course_id=@Model[0].courseID">@Model[0].courseName</a>
    </li>
    <h2>@Model[0].courseName</h2>
    <h3>@Model[0].courseDescription</h3>
    <div class="card">
        @foreach (var item in Model)
        {
            <div class="card-header">
                <p>@item.topicTitle</p>
            </div>
            foreach (var i in Model.Where(s => s.topicID == item.topicID))
            {
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <div class="card">
                            <div class="card-header">
                                @i.documentTitle
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>@i.documentDescription</p>
                                    <p>@i.documentLink</p>
                                </blockquote>
                            </div>
                        </div>
                    </blockquote>
                </div>
            }
            foreach (var i in Model.Where(s => s.topicID == item.topicID))
            {
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <div class="card">
                            <div class="card-header">
                                @i.eventTitle
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>Hạn chót: @i.eventDeadline</p>
                                </blockquote>
                            </div>
                        </div>
                    </blockquote>
                </div>
            }
        }
    </div>
}


